.bDtitre a {
	text-decoration: none !important;
	color: inherit !important;
}

.boiteDeroulanteVisuel {
	font-weight: bold;
}

.boiteDeroulanteVisuelSymbole {
	font-family: monospace;
}

.masquer {
	display: none;
}
