pre { /* Merci à <http://labnol.blogspot.com/2006/10/html-css-trick-for-displaying-code.html>. */
	white-space: -moz-pre-wrap !important; /* Mozilla. */
	white-space: -pre-wrap; /* Opera 4-6. */
	white-space: -o-pre-wrap; /* Opera 7. */
}

#modeleMessageEnvoyerAmis, body.tableDesMatieresArrondie #tableDesMatieres {
	-moz-border-radius: 8px; /* Gecko. */
	-webkit-border-radius: 8px; /* Webkit. */
}
