pre {
	zoom: 1; /* À cause d'un bogue avec `word-wrap: break-word`. */
}

#page {
	zoom: 1; /* À cause d'un bogue avec `position: absolute`. */
	width: 750px;
	width: expression( document.body.clientWidth > 1000? "1000px": "auto" );
}

body.enTetePleineLargeur div#enTete {
	width: 100%;
}

body.aucuneColonne #page {
	width: expression( document.body.clientWidth > 750? "750px": "auto" );
}

#milieuInterieurContenu h2 { /* Paliatif à `> h2:first-child`. */
	font-size: 1.9em;
	margin-bottom: 30px;
	border-bottom: none;
}

#infosPublication, div.infosPublicationApercu {
	background: url('../fichiers/info.gif') #ebebeb no-repeat 10px center;
}

#envoyerAmis a {
	background: url('../fichiers/enveloppe.gif') no-repeat left center;
}

#fluxRss a {
	background: url('../fichiers/rss.gif') no-repeat left center;
}

.bloc ul { /* Paliatif à `ul:first-child`. */
	margin-top: 0px;
}

.blocAvecFond #inputMotsCles {
	width: 170px;
}

li.actif {
	list-style-image: url('../fichiers/puce.gif');
}

div.galerieNavigationSuivant {
	float: none;
	zoom: 1; /* Pour bien prendre en compte le `float: left` de la flèche de navigation précédente. */
}

.pagination .blocAvecFond {
	zoom: 1; /* À cause d'un bogue avec la couleur d'arrière-plan. */
	
}

/* Message pour IE6. */

div#messageIe6 {
	border: 3px solid #ff6d00;
	margin: 0px;
	padding: 0px;
	background: #ebebeb;
	color: #000;
}

div#messageIe6 a {
	color: #005959;
}

div#messageIe6 a:visited {
	color: #4c177d;
}

div#messageIe6 p.bDtitre a {
	color: #000 !important;
}

div#messageIe6 p {
	margin: 10px;
}

div#messageIe6 p img, div#messageIe6 p span {
	vertical-align: middle;
	display: inline-block; 
}

div#messageIe6 p img {
	border: none;
}
