#page {
	zoom: 1; /* à cause d'un bogue avec `position: absolute` */
	width: 770px;
	width: expression( document.body.clientWidth > 900? "900px": "auto" );
}

#faireDecouvrir a {
	background: url('../fichiers/enveloppe.png') no-repeat left 20%;
}

#fluxRss a {
	background: url('../fichiers/rss.png') no-repeat left 20%;
}

#fluxRss ul {
	margin-left: 0px;
	padding-left: 0px;
}

div.galerieNavigationSuivant img {
	float: left;
}

pre { /* Merci à <http://labnol.blogspot.com/2006/10/html-css-trick-for-displaying-code.html> */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
