#page {
	zoom: 1; /* À cause d'un bogue avec `position: absolute`. */
	width: 750px;
	width: expression( document.body.clientWidth > 900? "900px": "auto" );
}

body.enTetePleineLargeur div#enTete {
	width: 100%;
}

body.aucuneColonne #page {
	width: expression( document.body.clientWidth > 750? "750px": "auto" );
}

.titreApercu a:visited {
	color: expression(this.parentNode.currentStyle.color); /* Palliatif à `inherit`. */
}

#infosPublication div.contenuBloc, div.infosPublicationApercu {
	background: url('../fichiers/info.gif') no-repeat left center;
}

#faireDecouvrir a {
	background: url('../fichiers/enveloppe.gif') no-repeat left center;
}

#fluxRss a {
	background: url('../fichiers/rss.gif') no-repeat left center;
}

li.actif {
	list-style-image: url('../fichiers/puce.gif');
}
