body.deuxColonnes .galerieNavigationAccueil, body.deuxColonnes .galerieNavigationAccueil {
	margin-right: 204px;
}

body.deuxColonnes .galerieNavigationSuivant, body.deuxColonnes .galerieNavigationSuivant {
	margin-right: 204px;
}

#galerieMinivignettes {
	margin-bottom: 0;
}

div#galerieAccompagnementVignetteSuivant img {
	clear: both;
}
