body.deuxColonnesGauche .galerieNavigationAccueil, body.deuxColonnesDroite .galerieNavigationAccueil {
	margin-right: 204px;
}

body.deuxColonnesGauche .galerieNavigationSuivant, body.deuxColonnesDroite .galerieNavigationSuivant {
	margin-right: 204px;
}

#galerieMinivignettes {
	margin-bottom: 0;
}

div#galerieAccompagnementVignetteSuivant img {
	clear: both;
}
