/***********************************************************************
**
** `html`, `body` et général.
**
***********************************************************************/

html {
	overflow-y: scroll;
}

html, body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 0.96em;
}

h1, h2, h3, h4, h5, h6, a, a:visited {
	color: #005959;
}

h1, h2, h3, h4, h5, h6 {
	margin: 40px 0px 20px 0px;
}

h1, body.accueil div#milieuInterieurContenu h2 { /* Sur les pages d'accueil de chaque langue, le titre du site dans l'en-tête est contenu dans une balise `h1`, mais sans être stylé comme tel. Le style du titre `h2` est donc simulé pour apparaître comme un `h1`. Il en va de même pour les autres niveaux ci-dessous. */
	font-size: 1.9em;
	margin-bottom: 30px;
	border-bottom: none;
}

h2, body.accueil div#milieuInterieurContenu h3 {
	font-size: 1.6em;
	border-bottom: 3px solid #005959;
}

h3, body.accueil div#milieuInterieurContenu h4 {
	font-size: 1.3em;
}

h4, body.accueil div#milieuInterieurContenu h5 {
	font-size: 1.15em;
}

h5, body.accueil div#milieuInterieurContenu h6 {
	font-size: 1.15em;
	font-weight: normal;
}

h6 {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
}

h4, h5, h6 {
	margin-left: 20px;
}

.liensVisitesDifferencies a:visited {
	color: #551a8b;
}

a, a code {
	text-decoration: underline;
}

a:hover, a:hover code {
	text-decoration: none;
}

ol, ul {
	padding: 0px;
	margin-left: 40px;
}

ul {
	list-style-type: circle;
}

li {
	margin-top: 5px;
	margin-bottom: 5px;
}

p, li {
	line-height: 130%;
}

pre, code {
	font-family: Courier, "Courier New", FreeMono, "Liberation Mono", monospace;
	background-color: #f5f5f5;
}

pre {
	box-shadow: 0px 1px 2px #cccccc; /* CSS 3. */
	-moz-box-shadow: 0px 1px 2px #cccccc; /* Gecko. */
	-webkit-box-shadow: 0px 1px 2px #cccccc; /* Webkit. */
}

em code {
	font-style: normal;
}

pre code {
	background-color: transparent;
}

strong code {
	font-weight: normal;
}

pre {
	display: block;
	overflow: auto;
	border: 1px solid #cccccc;
	border-left: 3px solid #cccccc;
	padding: 10px;
	margin: 20px 0px;
	/* Merci à <http://labnol.blogspot.com/2006/10/html-css-trick-for-displaying-code.html>. */
	white-space: pre-wrap; /* CSS 3. */
	white-space: -moz-pre-wrap !important; /* Gecko. */
	white-space: -pre-wrap; /* Elektra. */
	white-space: -o-pre-wrap; /* Presto. */
}

#ancres {
	position: absolute;
	left: -5000px;
}

div#noticeMaintenance {
	margin: 0px;
	padding: 10px;
	background: #f5f5f5;
}

div#noticeMaintenance p {
	margin: 0px;
	padding: 0px;
	font-size: 0.96em;
	font-weight: bold;
}

.pagination {
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	font-weight: bold;
}

.pagination img {
	border: none;
	width: 50px;
	height: 50px;
}

.pagination .separateurPaginationTypeImage {
	margin-left: 10px;
	margin-right: 10px;
	visibility: hidden;
}

span.licence img {
	border: none;
}

/* Classes générales. */

.erreur {
	color: #630000;
}

.gauche {
	text-align: left;
}

.centre {
	text-align: center;
}

.droite {
	text-align: right;
}

.imgGauche {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.imgCentre {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.imgDroite {
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
}

.masquer {
	display: none;
}

.sansBordure {
	border: none;
}

.sansDecoration {
	text-decoration: none;
}

.sep {
	clear: both;
}

.video {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

/***********************************************************************
**
** Page.
**
***********************************************************************/

#page {
	max-width: 1000px;
	margin: 0px auto;
	padding: 0px;
	position: relative;
}

body.margeHautPage #page {
	margin-top: 10px;
}

body.margeBasPage #page {
	margin-bottom: 10px;
}

body.bordureHautPage #page {
	border-top: 1px solid #f2f2f2;
}

body.bordureDroitePage #page {
	border-right: 1px solid #f2f2f2;
}

body.bordureBasPage #page {
	border-bottom: 1px solid #f2f2f2;
}

body.bordureGauchePage #page {
	border-left: 1px solid #f2f2f2;
}

body.ombrePage #page {
	box-shadow: 1px 1px 12px #e0e0e0; /* CSS 3. */
	-moz-box-shadow: 1px 1px 12px #e0e0e0; /* Gecko. */
	-webkit-box-shadow: 1px 1px 12px #e0e0e0; /* Webkit. */
}

/***********************************************************************
**
** En-tête.
**
***********************************************************************/

div#enTete {
	padding: 10px;
	border-bottom: 1px solid #f2f2f2;
}

body.colonneAgaucheSansArrierePlan div#enTete, body.colonneAdroiteAvecRayures div#enTete, body.colonneAdroiteAvecRayuresEtBordure div#enTete, body.deuxColonnesSansArrierePlan div#enTete, body.deuxColonnesAvecBordure div#enTete, body.deuxColonnesAvecRayures div#enTete, body.deuxColonnesAvecRayuresEtBordure div#enTete {
	border-bottom: none;
}

div#titre h1, div#titre p {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.2em;
}

div#titre h1 img#logo, div#titre p img#logo {
	float: left;
	margin-right: 3px;
}

div#titre h1 span#logoSupplement, div#titre p span#logoSupplement {
	display: block;
	padding-top: 16px;
	padding-bottom: 5px;
}

div#titre p a, div#titre p a:hover, div#titre p a:visited {
	color: #005959;
	text-decoration: none;
	border-bottom: none;
}

div#titre p a img {
	border: none;
}

div#sousTitre p {
	margin: 0px;
	padding: 0px;
	font-style: italic;
}

/***********************************************************************
**
** Sur-contenu.
**
***********************************************************************/

#surContenu {
	width: 194px;
	padding: 10px;
}

#surContenu .blocAvecFond:hover {
	background-color: #fafafa;
	background-image: none;
}

#surContenu a, #surContenu a code {
	text-decoration: none;
}

#surContenu a:hover, #surContenu a:hover code {
	text-decoration: underline;
}

#surContenu ul {
	margin-left: 20px;
}

/***********************************************************************
**
** Contenu.
**
***********************************************************************/

#contenu {
	margin-top: 40px;
}

#interieurContenu {
	padding: 0px 50px 30px 50px;
}

#infosPublication {
	font-style: italic;
}

/* Chapeau, style `fieldset`. */

div.chapeau {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #cccccc;
}

div.chapeau p {
	margin-bottom: 5px;
}

div.chapeau p.legende {
	margin-top: -10px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding-bottom: 0px;
	float: left;
}

div.chapeau p.legende span
{
	padding: 0px 10px;
	background-color: #fff;
	font-weight: bold;
}

div.chapeau div.contenuChapeau {
	clear: both;
	padding: 0px 10px 10px 10px;
}

/* Catégories. */

.apercu {
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 25px;
}

.titreApercu {
	margin-top: 20px;
	margin-bottom: 10px;
}

.titreApercu a, .titreApercu a:visited {
	color: inherit;
}

.titreApercu a {
	text-decoration: none;
}

.descriptionApercu {
	margin: 20px 50px;
}

.descriptionApercu h1, .descriptionApercu h2, .descriptionApercu h3, .descriptionApercu h4, .descriptionApercu h5, .descriptionApercu h6 {
	font-size: 1em;
}

div.descriptionApercu div.galerieIntermediaireImgApercu {
	text-align: center;
}

.infosPublicationApercu {
	font-style: italic;
	margin-bottom: 10px;
}

.lienApercu {
	font-weight: bold;
}

/* Contact. */

#formContact label {
	font-weight: bold;
}

#formContact label.labelPhrase {
	font-weight: normal;
}

#formContact input.champInfo {
	width: 35%;
}

#formContact textarea {
	width: 70%;
}

/* Pages d'erreur. */

h1#titrePage401, h1#titrePage404 {
	padding-left: 20px;
}

h1#titrePage401 {
	background: url('../fichiers/acces-interdit.png') no-repeat left center;
}

h1#titrePage404 {
	background: url('../fichiers/attention.png') no-repeat left center;
}

/* Publications récentes (voir la fonction `publicationsRecentes()`). */

p.publicationsRecentesLien {
	margin-left: 20px;
}

div.publicationsRecentesGalerie ul, div.publicationsRecentesGaleries ul {
	list-style-type: none;
}

div.publicationsRecentesGalerie img, div.publicationsRecentesGaleries img {
	padding: 5px 10px 10px 5px;
	border: none;
	margin: 10px;
	background: url('../fichiers/ombre-vignette.png') no-repeat right bottom;
}

/***********************************************************************
**
** Sous-contenu.
**
***********************************************************************/

#sousContenu {
	width: 194px;
	padding: 10px;
}

#sousContenu .blocAvecFond:hover {
	background-color: #fafafa;
	background-image: none;
}

#sousContenu a, #sousContenu a code {
	text-decoration: none;
}

#sousContenu a:hover, #sousContenu a:hover code {
	text-decoration: underline;
}

#sousContenu ul {
	margin-left: 20px;
}

/***********************************************************************
**
** Bas de page.
**
***********************************************************************/

#basDePageInterieurPage, #basDePageHorsPage {
	text-align: center;
}

#basDePageInterieurPage img, #basDePageHorsPage img {
	border: none;
	vertical-align: bottom;
}

#basDePageInterieurPage {
	padding: 10px;
}

#basDePageHorsPage {
	max-width: 1000px;
	margin: 25px auto;
	padding: 0px;
	border: 1px solid #f2f2f2;
	box-shadow: 1px 1px 12px #e0e0e0; /* CSS 3. */
	-moz-box-shadow: 1px 1px 12px #e0e0e0; /* Gecko. */
	-webkit-box-shadow: 1px 1px 12px #e0e0e0; /* Webkit. */
}

/***********************************************************************
**
** Blocs.
**
***********************************************************************/

.bloc {
	margin-top: 20px;
	margin-bottom: 20px;
}

.bloc h2 {
	margin: 0px 0px 15px 0px;
	padding: 0px;
	font-size: 1em;
	border-bottom: none;
}

a.actif {
	font-weight: bold;
}

li.actif {
	list-style-image: url('../fichiers/puce.png');
}

li.actif li {
	list-style-image: none;
}

li.parent {
	list-style-type: disc;
}

/* Avec couleur de fond. */

.blocAvecFond {
	padding: 10px;
	border: 3px solid white;
	background-color: #f5f5f5;
	background-image: linear-gradient(-45deg, #f7f7f7, #f5f5f5); /* CSS 3. */
	background-image: -moz-linear-gradient(-45deg, #f7f7f7, #f5f5f5); /* Gecko. */
	background-image: -o-linear-gradient(-45deg, #f7f7f7, #f5f5f5); /* Presto. */
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #f7f7f7), color-stop(1, #f5f5f5)); /* Webkit. */
	box-shadow: 0px 1px 2px #cccccc; /* CSS 3. */
	-moz-box-shadow: 0px 1px 2px #cccccc; /* Gecko. */
	-webkit-box-shadow: 0px 1px 2px #cccccc; /* Webkit. */
}

#lienPage.blocAvecFond pre {
	margin-bottom: 0px;
}

.blocAvecFond > p:first-child, .blocAvecFond > ul:first-child, .blocAvecFond > ul:first-child > li:first-child {
	margin-top: 0px;
}

.blocAvecFond > p:last-child, .blocAvecFond > ul:last-child, .blocAvecFond > ul:last-child > li:last-child {
	margin-bottom: 0px;
}

/* Avec coins arrondis. */

.blocArrondi {
	border-radius: 5px; /* CSS 3. */
	-moz-border-radius: 5px; /* Gecko. */
	-webkit-border-radius: 5px; /* Webkit. */
}

/* Balise `h1`. */

div#baliseH1 {
	margin-top: 40px;
	margin-bottom: 30px;
}

div#baliseH1 h1 {
	margin: 0px;
}

/* Flux RSS. */

#fluxRss ul {
	list-style-type: none;
	margin-left: 0px;
}

#fluxRss a {
	display: block;
	padding-left: 19px;
	background: url('../fichiers/rss.png') no-repeat left center;
}

/* Informations de publication. */

#infosPublication, div.infosPublicationApercu {
	padding-left: 19px;
	background: url('../fichiers/info.png') no-repeat left center;
}

#infosPublication.blocAvecFond {
	padding-left: 29px;
	background: url('../fichiers/info.png') #f5f5f5 no-repeat 10px center;
}

/* Module «Envoyer à des amis». */

#modeleMessageEnvoyerAmis {
	margin: 20px;
}

h2#titreEnvoyerAmis {
	clear: both;
}

#envoyerAmis a {
	display: block;
	padding-left: 22px;
	background: url('../fichiers/enveloppe.png') no-repeat left center;
}

/* Recherche Google. */

#rechercheGoogle #inputMotsCles {
	width: 184px;
}

#rechercheGoogle.blocAvecFond #inputMotsCles {
	width: 170px;
}

/***********************************************************************
**
** Arrière-plans des colonnes.
**
***********************************************************************/

/*
Note: il y a beaucoup de classes CSS ci-dessous pour la gestion des arrière-plans. Ceci est pour conserver une compatibilité avec IE6. En effet, malheureusement, ce navigateur ne gère pas les classes multiples dans les sélecteurs d'une feuille de style.

Par exemple, on peut normalement faire référence dans une feuille de style à la div suivante:

	<div class="deuxColonnes sousContenuAgauche avecRayures">
	...
	</div>

en utilisant le sélecteur qui suit:

	div.deuxColonnes.sousContenuAgauche.avecRayures {...}

ce qui permet de diminuer le nombre de classes à créer. Cependant, IE6 ne reconnaît que la dernière classe d'un sélecteur contenant une chaîne de classes...
*/

/* Général. */

body.colonneAgaucheAvecRayures #page {
	background: url('../fichiers/rayures-204px.png') repeat-y left top;
}
body.colonneAgaucheAvecRayuresEtBordure #page {
	background: url('../fichiers/rayures-avec-bordure-droite-205px.png') repeat-y left top;
}
body.colonneAgaucheAvecFondUni #page {
	background: url('../fichiers/uni-204px.png') repeat-y left top;
}
body.colonneAgaucheAvecBordure #page {
	background: url('../fichiers/bordure-1px.png') repeat-y 204px top;
}
body.colonneAgaucheAvecBordure #surContenu .blocArrondi, body.colonneAgaucheAvecBordure #sousContenu .blocArrondi {
	border-radius: 5px 0px 0px 5px; /* CSS 3. */
	-moz-border-radius: 5px 0px 0px 5px; /* Gecko. */
	-webkit-border-radius: 5px 0px 0px 5px; /* Webkit. */
}
/* */

body.colonneAdroiteAvecRayures #page {
	background: url('../fichiers/rayures-204px.png') repeat-y right top;
}
body.colonneAdroiteAvecRayuresEtBordure #page {
	background: url('../fichiers/rayures-avec-bordure-gauche-205px.png') repeat-y right top;
}
body.colonneAdroiteAvecFondUni #page {
	background: url('../fichiers/uni-204px.png') repeat-y right top;
}
body.colonneAdroiteAvecBordure #page {
	background: url('../fichiers/bordure-gauche-205px.gif') repeat-y right top;
}
body.colonneAdroiteAvecBordure #surContenu .blocArrondi, body.colonneAdroiteAvecBordure #sousContenu .blocArrondi {
	border-radius: 0px 5px 5px 0px; /* CSS 3. */
	-moz-border-radius: 0px 5px 5px 0px; /* Gecko. */
	-webkit-border-radius: 0px 5px 5px 0px; /* Webkit. */
}

/* */

body.deuxColonnesAvecRayures #page {
	background: url('../fichiers/rayures-204px.png') repeat-y left top;
}
body.deuxColonnesAvecRayures #interieurPage {
	background: url('../fichiers/rayures-204px.png') repeat-y right top;
}
body.deuxColonnesAvecRayuresEtBordure #page {
	background: url('../fichiers/rayures-avec-bordure-droite-205px.png') repeat-y left top;
}
body.deuxColonnesAvecRayuresEtBordure #interieurPage {
	background: url('../fichiers/rayures-avec-bordure-gauche-205px.png') repeat-y right top;
}
body.deuxColonnesAvecFondUni #page {
	background: url('../fichiers/uni-204px.png') repeat-y left top;
}
body.deuxColonnesAvecFondUni #interieurPage {
	background: url('../fichiers/uni-204px.png') repeat-y right top;
}
body.deuxColonnesAvecBordure #page {
	background: url('../fichiers/bordure-1px.png') repeat-y 204px top;
}
body.deuxColonnesAvecBordure #interieurPage {
	background: url('../fichiers/bordure-gauche-205px.gif') repeat-y right top;
}

/* body.colonneAgauche */

body.colonneAgauche #enTete {
	margin-left: 205px;
	padding-left: 50px;
}

body.colonneAgauche div#sousTitre {
	margin-left: 79px;
}

body.colonneAgauche #contenu {
	margin-left: 205px;
}

body.colonneAgauche #surContenu, body.colonneAgauche #sousContenu {
	position: absolute;
	top: 110px;
}

body.colonneAgauche #basDePageInterieurPage {
	margin: 20px 0px 0px 205px;
}

/* body.uneColonneAgauche */

body.uneColonneAgauche #surContenu, body.uneColonneAgauche #sousContenu {
	left: 0px;
}

/* body.colonneAdroite */

body.colonneAdroite div#sousTitre {
	margin-right: 210px;
}

body.colonneAdroite #contenu {
	margin-right: 205px;
	text-align: justify;
}

body.colonneAdroite #surContenu, body.colonneAdroite #sousContenu {
	position: absolute;
	top: 110px;
}

body.colonneAdroite #basDePageInterieurPage {
	margin: 20px 205px 0px 0px;
}

/* body.uneColonneAdroite */

body.uneColonneAdroite div#sousTitre {
	margin-left: 84px;
}

body.uneColonneAdroite #surContenu, body.uneColonneAdroite #sousContenu {
	right: 0px;
}

/* body.deuxColonnes */

body.deuxColonnes #basDePageInterieurPage {
	margin: 20px 205px 0 205px;
}

body.deuxColonnes #contenu {
	margin-right: 205px;
	text-align: justify;
}

/* body.deuxColonnesSousContenuAgauche */

body.deuxColonnesSousContenuAgauche #page {
	padding-right: 0px;
}

body.deuxColonnesSousContenuAgauche #surContenu {
	right: 0px;
}

body.deuxColonnesSousContenuAgauche #surContenu .blocArrondi {
	border-radius: 0px 5px 5px 0px; /* CSS 3. */
	-moz-border-radius: 0px 5px 5px 0px; /* Gecko. */
	-webkit-border-radius: 0px 5px 5px 0px; /* Webkit. */
}

body.deuxColonnesSousContenuAgauche #sousContenu {
	left: 0px;
}

body.deuxColonnesSousContenuAgauche #sousContenu .blocArrondi {
	border-radius: 5px 0px 0px 5px; /* CSS 3. */
	-moz-border-radius: 5px 0px 0px 5px; /* Gecko. */
	-webkit-border-radius: 5px 0px 0px 5px; /* Webkit. */
}

/* body.deuxColonnesSousContenuAdroite */

body.deuxColonnesSousContenuAdroite #page {
	padding-left: 0px;
}

body.deuxColonnesSousContenuAdroite #contenu {
	margin-left: 205px;
}

body.deuxColonnesSousContenuAdroite #surContenu {
	left: 0px;
}

body.deuxColonnesSousContenuAdroite #surContenu .blocArrondi {
	border-radius: 5px 0px 0px 5px; /* CSS 3. */
	-moz-border-radius: 5px 0px 0px 5px; /* Gecko. */
	-webkit-border-radius: 5px 0px 0px 5px; /* Webkit. */
}

body.deuxColonnesSousContenuAdroite #sousContenu {
	right: 0px;
}

body.deuxColonnesSousContenuAdroite #sousContenu .blocArrondi {
	border-radius: 0px 5px 5px 0px; /* CSS 3. */
	-moz-border-radius: 0px 5px 5px 0px; /* Gecko. */
	-webkit-border-radius: 0px 5px 5px 0px; /* Webkit. */
}

/* body.aucuneColonne */

body.aucuneColonne #page {
	max-width: 750px;
}

body.aucuneColonne #interieurContenu {
	padding: 0px 50px;
}

body.aucuneColonne #surContenu, body.aucuneColonne #sousContenu {
	width: auto;
	padding-left: 50px;
	padding-right: 50px;
}

body.aucuneColonne #surContenu {
	margin-bottom: 10px;
	padding-bottom: 0px;
}

body.aucuneColonne #sousContenu {
	padding-top: 0px;
	margin-bottom: 20px;
}

body.aucuneColonne #menuLangues {
	position: absolute;
	top: 0px;
	right: 10px;
	margin-top: 0px;
	text-align: right;
}

body.aucuneColonne #menuLangues ul {
	list-style-type: none;
}

body.aucuneColonne #menuLangues h2, body.aucuneColonne #menu h2 {
	display: none;
}

body.aucuneColonne #menu {
	margin-top: 10px;
}

body.aucuneColonne #menu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}

body.aucuneColonne #menu li {
	display: inline;
	margin-right: 20px;
}

body.aucuneColonne #basDePageHorsPage {
	max-width: 750px;
}

/* body.enTetePleineLargeur */

body.enTetePleineLargeur div#enTete {
	background-color: white;
	margin-left: 0px;
	padding-left: 10px;
	border-bottom: 1px solid #f2f2f2;
}

/***********************************************************************
**
** Galerie.
**
***********************************************************************/

body.galerieAucuneColonne #page {
	max-width: 750px;
}

p#galerieSousTitre {
	font-weight: bold;
}

div#galerieIntermediaire div#galerieIntermediaireTexte {
	margin-bottom: 20px;
}

div.minivignetteImageEnCours img {
	border-left: 5px solid #cccccc !important;
	border-right: 5px solid #cccccc !important;
}

div.sepGalerieMinivignettes {
	clear: both;
	margin-bottom: 20px;
}

div.galerieInfoEtMinivignettesEnsemble div#galerieInfo {
	float: left;
	width: 45%;
}

div.galerieInfoEtMinivignettesEnsemble div#galerieMinivignettes {
	float: right;
	margin-top: 15px;
	width: 45%;
}

#galerieLienSansJavascript a {
	padding-left: 22px;
	background: url('../fichiers/sans-javascript.png') no-repeat left center;
}

#galerieIntermediaireTexteHorsContenu #galerieIntermediaireTexte {
	padding-left: 5px;
	border-left: 3px solid #005959;
}

#galerieIntermediaireTexteHorsContenu ul {
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 15px;
}

#galerieLienOriginalLegende {
	margin-top: 20px;
}

div.galerieNavigationPrecedent {
	float: left;
}

div.galerieNavigationPrecedent img {
	border: none;
	float: left;
	clear: both;
}

div.galerieNavigationSuivant {
	float: right;
}

div.galerieNavigationSuivant img {
	border: none;
	float: right;
	clear: both;
}

.galerieFleche img {
	border: none !important;
}

div.galerieNavigationPrecedent img, div.galerieNavigationSuivant img, .galerieFleche img, div.galerieNavigationVideFleche, div.galerieNavigationVideVignette {
	width: 50px;
	height: 50px;
}

div#galerieIntermediaire {
	text-align: center;
}

div#galerieMinivignettes {
	margin-top: 20px;
	margin-bottom: 20px;
}

div#galerieMinivignettes img {
	float: left;
	height: 35px;
	border: 1px solid #cccccc;
	margin: 2px;
}

div#galerieAccompagnementVignettePrecedent img {
	float: left;
	border: none;
}

div#galerieAccompagnementVignetteSuivant img {
	float: right;
	border: none;
}

div#galerieIntermediaireExif {
	text-align: left;
	margin-top: 20px;
}

div#galerieIntermediaireExif ul {
	margin-bottom: 0px;
}

div#galerieIntermediaireExif li {
	margin-top: 10px;
}

div.galerieNavigationAccueil img {
	float: left;
}

div.galerieNavigationAccueil img, div#galerieIntermediaireImg img, div.galerieIntermediaireImgApercu img {
	box-shadow: 0px 1px 2px #cccccc; /* CSS 3. */
	-moz-box-shadow: 0px 1px 2px #cccccc; /* Gecko. */
	-webkit-box-shadow: 0px 1px 2px #cccccc; /* Webkit. */
}

div#galerieLienOriginalIcone {
	margin-bottom: 5px;
}

div#galerieLienOriginalIcone img {
	border: none;
}

div.galerieNavigationAccueil img, div#galerieIntermediaireImg img, div.galerieIntermediaireImgApercu img {
	padding: 5px;
	border: none;
	margin: 10px;
}

ul.galerieListeImages {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

body.galerie div.pagination {
	clear: both;
}

