/***********************************************************************
**
** Général
**
***********************************************************************/

html, body {
	margin: 0;
	padding: 0;
}

#page {
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

body.borduresPage #page {
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
}

#ancres {
	position: absolute;
	left: -5000px;
}

div#titre h1, div#titre p {
	padding: 0px;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.2em;
}

div#titre h1 img#logo, div#titre p img#logo {
	float: left;
	margin-right: 3px;
}

div#titre h1 span#logoSupplement, div#titre p span#logoSupplement {
	display: block;
	padding-top: 22px;
	padding-bottom: 5px;
}

div#titre p a, div#titre p a:hover, div#titre p a:visited {
	color: #007070;
	text-decoration: none;
	border-bottom: none;
}

div#titre p a img {
	border: none;
}

div#sousTitre p {
	margin: 0px;
	padding: 0px;
	font-style: italic;
}

#surContenu, #sousContenu {
	width: 204px;
}

#interieurContenu {
	padding: 0px 5px 5px 5px;
	margin-top: 15px;
}

#contenu h1, body.accueil #interieurContenu> h2:first-child {
	margin-top: 0;
	padding-top: 0;
}

#modeleMessageDecouvrir {
	margin: 25px;
	padding: 5px;
	background-color: #f2f2f2;
}

.bloc {
	margin-top: 16px;
	margin-bottom: 20px;
}

.blocPerso {
	padding-left: 3px;
	padding-right: 3px;
}

#menu a.actif {
	font-weight: bold;
}

#menu li.actif {
	list-style-image: url('../fichiers/puce.png');
}

#fluxRss, #faireDecouvrir {
	padding: 0px 3px;
	text-align: left;
}

#fluxRss ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#fluxRss li {
	margin: 0;
	padding: 0;
}

#faireDecouvrir a, #fluxRss a {
	padding-right: 3px;
}

#faireDecouvrir a {
	margin-left: 3px;
	padding-left: 23px;
	background: url('../fichiers/enveloppe.png') no-repeat left center;
}

#fluxRss a {
	margin-left: 5px;
	padding-left: 21px;
	background: url('../fichiers/rss.png') no-repeat left center;
}

#basDePage {
	text-align: center;
	padding: 0px 5px;
}

h1, h2, h3, h4, h5, h6, a, a:visited {
	color: #007070;
}

h2#formulaireFaireDecouvrir {
	clear: both;
}

.liensVisitesStyles a:visited {
	color: #4C177D;
}

a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #f2f2f2;
}

ul {
	list-style-type: circle;
}

li {
	margin-bottom: 5px;
}

pre, code {
	background-color: #f2f2f2;
}

pre {
	display: block;
	overflow: auto;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #b3b3b3;
}

.erreur, .succes {
	border-width: 2px;
	border-style: solid;
	font-weight: bold;
	font-size: 1.1em;
	padding: 10px;
}

.erreur {
	border-color: red;
}

.succes {
	border-color: green;
}

.sep {
	clear: both;
}

/***********************************************************************
**
** body.colonneAgauche
**
***********************************************************************/

body.colonneAgaucheRayures #page {
	background: url('../fichiers/rayures-204px.png') repeat-y left top;
}

body.colonneAgaucheUni #page {
	background: url('../fichiers/uni-204px.png') repeat-y left top;
}

body.colonneAgaucheBordure #page {
	background: url('../fichiers/bordure-1px.png') repeat-y 203px top;
}

body.colonneAgauche div#titre h1, body.colonneAgauche div#titre p {
	margin-top: 0px;
	margin-bottom: 0px;
}

body.colonneAgauche div#sousTitre {
	margin-left: 289px;
}

body.colonneAgauche #contenu {
	margin-left: 204px;
}

body.colonneAgauche #surContenu, body.colonneAgauche #sousContenu {
	position: absolute;
	top: 80px;
}

body.colonneAgauche #basDePage {
	margin: 25px 0 0 204px;
}

/***********************************************************************
**
** body.uneColonneAgauche
**
***********************************************************************/

body.uneColonneAgauche div#titre h1, body.uneColonneAgauche div#titre p {
	margin-right: 0px;
	margin-left: 210px;
}

body.uneColonneAgauche div#sousTitre {
	margin-right: 0px;
}

body.uneColonneAgauche #surContenu, body.uneColonneAgauche #sousContenu {
	left: 0;
}

/***********************************************************************
**
** body.colonneAdroite
**
***********************************************************************/

body.colonneAdroiteRayures #page {
	background: url('../fichiers/rayures-204px.png') repeat-y right top;
}

body.colonneAdroiteUni #page {
	background: url('../fichiers/uni-204px.png') repeat-y right top;
}

body.colonneAdroiteBordure #page {
	background: url('../fichiers/bordure-gauche-204px.png') repeat-y right top;
}

body.colonneAdroite div#titre h1, body.colonneAdroite div#titre p {
	margin-top: 0px;
	margin-bottom: 0px;
}

body.colonneAdroite div#sousTitre {
	margin-right: 210px;
}

body.colonneAdroite #contenu {
	margin-right: 204px;
	text-align: justify;
}

body.colonneAdroite #surContenu, body.colonneAdroite #sousContenu {
	position: absolute;
	top: 80px;
}

body.colonneAdroite #basDePage {
	margin: 25px 204px 0 0px;
}

/***********************************************************************
**
** body.uneColonneAdroite
**
***********************************************************************/

body.uneColonneAdroite div#titre h1, body.uneColonneAdroite div#titre p {
	margin-right: 210px;
	margin-left: 6px;
}

body.uneColonneAdroite div#sousTitre {
	margin-left: 84px;
}

body.uneColonneAdroite #surContenu, body.uneColonneAdroite #sousContenu {
	right: 0;
}

/***********************************************************************
**
** body.deuxColonnes
**
***********************************************************************/

body.deuxColonnes div#titre h1, body.deuxColonnes div#titre p {
	margin-right: 210px;
	margin-left: 210px;
}

body.deuxColonnes #basDePage {
	margin: 25px 204px 0 204px;
}

body.deuxColonnes #contenu {
	margin-right: 204px;
	text-align: justify;
}

/***********************************************************************
**
** body.deuxColonnesSousContenuAgauche
**
***********************************************************************/

body.deuxColonnesSousContenuAgaucheRayures #page {
	background: url('../fichiers/rayures-204px.png') repeat-y left top;
	padding-right: 0;
}

body.deuxColonnesSousContenuAgaucheUni #page {
	background: url('../fichiers/uni-204px.png') repeat-y left top;
	padding-right: 0;
}

body.deuxColonnesSousContenuAgaucheBordure #page {
	background: url('../fichiers/bordure-1px.png') repeat-y 203px top;
	padding-right: 0;
}

body.deuxColonnesSousContenuAgaucheRayures #interieurPage {
	background: url('../fichiers/rayures-204px.png') repeat-y right top;
}

body.deuxColonnesSousContenuAgaucheUni #interieurPage {
	background: url('../fichiers/uni-204px.png') repeat-y right top;
}

body.deuxColonnesSousContenuAgaucheBordure #interieurPage {
	background: url('../fichiers/bordure-gauche-204px.png') repeat-y right top;
}

body.deuxColonnesSousContenuAgauche #surContenu {
	right: 0;
}

body.deuxColonnesSousContenuAgauche #sousContenu {
	left: 0;
}

/***********************************************************************
**
** body.deuxColonnesSousContenuAdroite
**
***********************************************************************/

body.deuxColonnesSousContenuAdroite #page {
	padding-left: 0;
}

body.deuxColonnesSousContenuAdroiteRayures #interieurPage {
	background: url('../fichiers/rayures-204px.png') repeat-y left top;
}

body.deuxColonnesSousContenuAdroiteUni #interieurPage {
	background: url('../fichiers/uni-204px.png') repeat-y left top;
}

body.deuxColonnesSousContenuAdroite #contenu {
	margin-left: 204px;
}

body.deuxColonnesSousContenuAdroite #surContenu {
	left: 0;
}

body.deuxColonnesSousContenuAdroite #sousContenu {
	right: 0;
}

/***********************************************************************
**
** Module contact
**
***********************************************************************/

#formContact label {
	font-weight: bold;
}

#formContact input.champInfo {
	width: 35%;
}

#formContact textarea {
	width: 70%;
}

/***********************************************************************
**
** Module galerie
**
***********************************************************************/

body.galerie #page {
	max-width: 1000px;
}

div#galerieInfo {
	clear: both;
}

div#galerieIntermediaire div#galerieIntermediaireTexte {
	margin-bottom: 15px;
}

div.minivignetteOeuvreEnCours img {
	border-left: 5px solid #b3b3b3 !important;
	border-right: 5px solid #b3b3b3 !important;
}

div#sepGalerieMinivignettes {
	clear: both;
	margin-bottom: 15px;
}

#galerieIntermediaireTexte ul {
	margin-left: 25px;
}

#galerieIntermediaireTexteHorsContenu {
	border-left: 3px solid #007070;
	padding: 0 3px;
	text-align: left;
}

#galerieIntermediaireTexteHorsContenu h2 {
	margin-top: 0px;
	font-size: 1.1em;
}

#galerieIntermediaireTexteHorsContenu ul {
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 15px;
}

#galerieLienOriginal {
	margin-top: 15px;
}

div.galerieNavigationPrecedent {
	float: left;
}

div.galerieNavigationPrecedent img {
	border: none;
	float: left;
	clear: both;
}

div.galerieNavigationSuivant {
	float: right;
}

div.galerieNavigationSuivant img {
	border: none;
	float: right;
}

.galerieFleche img, div.galerieNavigationVide {
	border: none !important;
	width:40px;
	height:40px;
}

div#galerieIntermediaire {
	text-align: center;
}

div.galeriePagination {
	text-align: center;
	clear: both;
}

div#galerieMinivignettes {
	margin-top: 20px;
	margin-bottom: 20px;
}

div#galerieMinivignettes img {
	float: left;
	height: 35px;
	border: 1px solid #f2f2f2;
	margin: 2px;
}

div#galerieAccompagnementVignettePrecedent img {
	float: left;
	border: none;
}

div#galerieAccompagnementVignetteSuivant img {
	float: right;
	border: none;
}

div#galerieIntermediaireExif {
	text-align: left;
	margin-top: 15px;
}

div#galerieIntermediaireExif ul {
	margin-bottom: 0;
}

div#galerieIntermediaireExif li {
	margin-top: 10px;
}

div.galerieNavigationAccueil img {
	float: left;
	background: url('../fichiers/ombre-vignette.png') no-repeat right bottom;
}

div#galerieIntermediaireImg img {
	background: url('../fichiers/ombre.png') no-repeat right bottom;
}

div#galerieIconeOriginal {
	margin-bottom: 5px;
}

div#galerieIconeOriginal img {
	border: none;
}

div.galerieNavigationAccueil img, div#galerieIntermediaireImg img {
	padding: 5px 10px 10px 5px;
	border: none;
	margin: 10px;
}

/***********************************************************************
**
** Bloc message pour IE6
**
***********************************************************************/

div#messageIE6 {
	border: 3px solid #090;
	margin: 0;
	padding: 0;
	background: #cfc;
	color: #000;
}

div#messageIE6 p {
	margin: 10px;
}

div#messageIE6 p img, div#messageIE6 p span {
	vertical-align: middle;
	display: inline-block; 
}

div#messageIE6 p img {
	border: none;
}

div#messageIE6 p a {
	color: #006;
}

