########################################################################
##
## Possiblement configurable
##
########################################################################

# Décommenter la ligne suivante dans le cas d'un hébergement sur un serveur de Free.fr
#php 1

# Page s'affichant à la place d'une page inexistante. Au besoin, changer le chemin vers la page. Ex.:
# ErrorDocument 404 http://www.monSite.ext/404.php
ErrorDocument 404 /404.php

########################################################################
##
## Suggestions
##
########################################################################

# Décommenter les lignes ci-dessous pour utiliser seulement le nom de domaine avec les www, donc pour une redirection permanente de `monSite.ext` vers `www.monSite.ext`. Remplacer par le bon nom de domaine.
#RewriteEngine on
#RewriteCond %{HTTP_HOST} !^www\.monSite\.ext [NC]
#RewriteRule (.*) http://www.monSite.ext/$1 [QSA,R=301,L]

# Modèle de redirection pour des pages
#RedirectPermanent /dossier/fichier.php http://www.monSite.ext/nouveau-dossier/nouveau-fichier.php

# Décommenter les lignes ci-dessous pour inclure automatiquement le fichier `init.inc.php` dans tous les fichiers PHP. NOTE: fonctionnalité non testée à fond et n'étant pas supportée officiellement.
#<FilesMatch "\.(php)$">
#	php_value auto_prepend_file "/var/www/serveur_local/squeletml/init.inc.php"
#</FilesMatch>

########################################################################
##
## NORMALEMENT, CE QUI SUIT NE DEVRAIT PAS ÊTRE MODIFIÉ
##
########################################################################

# Ne pas lister les fichiers dans un dossier sans fichier `index`
Options -Indexes

# S'assurer de l'accès au fichier `robots.txt`
<Files robots.txt>
	Order Deny,Allow
	Allow from all
	Satisfy any
</Files>

