/***********************************************************************
**
** Général.
**
***********************************************************************/

html {
	overflow-y: scroll;
}

body, html {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 0.96em;
}

div#noticeMaintenance {
	margin: 0px;
	padding: 10px;
	background: #f5f5f5;
}

div#noticeMaintenance p {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 0.96em;
	font-weight: bold;
}

#page {
	max-width: 950px;
	margin: 10px auto;
	padding: 0px;
	border: 1px solid #f2f2f2;
	box-shadow: 1px 1px 12px #e0e0e0; /* CSS 3. */
	-moz-box-shadow: 1px 1px 12px #e0e0e0; /* Gecko. */
	-webkit-box-shadow: 1px 1px 12px #e0e0e0; /* Webkit. */
}

#ancres {
	position: absolute;
	left: -5000px;
}

#enTete {
	padding: 5px 5px 0px 5px;
	background: url('../fichiers/rayures.png') repeat left top;
	border-bottom: 1px solid #f2f2f2;
	text-align: center;
}

#enTete ul {
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 8px;
}

#enTete ul li {
	display: inline;
}

#lienBas {
	text-align: right;
}

#lienBas p {
	margin-top: 5px;
	margin-bottom: 5px;
}

#contenu {
	margin: 5px;
}

div#sousMenu {
	position: fixed;
	width: 140px;
	margin-left: 1px;
	padding: 5px;
	background: url('../fichiers/rayures.png') repeat left top;
	border: 1px solid #f2f2f2;
}

div#sousMenu ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

div#contenuPrincipal {
	margin-left: 160px;
}

#basDePage {
	margin: 25px 5px 5px;
	text-align: right;
}

#galeriesAdminConfigGraphique li.configGraphiqueListeVignettes, #galeriesAdminConfigGraphiqueSimplifiee li.configGraphiqueListeVignettes, #sousMenu, a.lienInfobulle:hover span, fieldset, .porteDocumentsListe li, .boite, .sousBoite {
	border-radius: 5px; /* CSS 3. */
}

#tableDesMatieres {
	border-radius: 8px; /* CSS 3. */
}

div#tableDesMatieres {
	border-color: #f5f5f5 !important;
}

h1, h2, h3, h4, h5, h6, a {
	color: #005959;
}

h1, h2, h3, h4, h5, h6 {
	margin: 20px 0px;
}

h1 {
	margin-top: 5px;
	font-size: 1.9em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.15em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 1em;
	font-style: italic;
}

a, a code {
	text-decoration: underline;
}

a:visited {
	color: #031641;
}

a:hover, a:hover code {
	text-decoration: none;
}

a#lienDeconnexion {
	background: url('../fichiers/se-deconnecter.png') no-repeat left center;
	padding-left: 20px;
}

p {
	margin-bottom: 8px;
}

#menu a.actif {
	font-weight: bold;
}

code {
	color: #0000E2;
}

pre {
	display: block;
	overflow: auto;
	padding: 5px;
	margin: 5px 0px;
	border: 1px solid #cccccc;
	white-space: pre-wrap; /* CSS 3. Merci à <http://labnol.blogspot.com/2006/10/html-css-trick-for-displaying-code.html>. */
}

pre, code {
	font-family: Courier, "Courier New", FreeMono, "Liberation Mono", monospace;
}

fieldset {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #cccccc;
	background-color: #f0f0f0;
}

fieldset ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

fieldset ul ul {
	padding-left: 20px;
}

input.long {
	width: 50%;
}

input.tresLong {
	width: 75%;
}

legend {
	font-weight: bold;
}

ol, ul {
	padding: 0px;
	margin-left: 20px;
}

ul {
	list-style-type: circle;
}

li {
	margin-top: 5px;
	margin-bottom: 5px;
}

li.liParent {
	margin-bottom: 40px;
}

.erreur, .erreur code {
	color: #630000;
}

.gauche {
	text-align: left;
}

.centre {
	text-align: center;
}

.droite {
	text-align: right;
}

.note {
	font-style: italic;
}

ul.nonTriable ul.triable li.liParent, li.liParent ul.triable li, ul.triable li {
	background: url('../fichiers/glisser.png') no-repeat left 5px;
	padding-left: 20px;
}

ul.nonTriable li {
	background: none;
	padding-left: 20px;
}

/***********************************************************************
**
** Boîtes.
**
***********************************************************************/

#boiteMessages h2, .boite h2, .sousBoite h3 {
	margin-top: 0px;
}

#boiteMessages h2 {
	background: url('../fichiers/ampoule.png') no-repeat left center;
	padding-left: 20px;
}

#boiteMessages h2, #boiteMessages h3, #boiteMessages h4, #boiteMessages h5, #boiteMessages h6 {
	color: black;
}

.boite {
	margin: 25px 0px;
	padding: 5px;
	background-color: #f5f5f5;
}

.sousBoite {
	margin: 25px;
	border: 1px solid #cccccc;
	padding: 5px;
	background-color: #f0f0f0;
}

/* Rapport du cron. */

#rapportCron h1, #rapportCron h2, #rapportCron h3 {
	margin-top: 20px;
}

#rapportCron h1 {
	color: black;
}

#rapportCron h2 {
	background: none;
	padding-left: 0px;
}

/***********************************************************************
**
** Documentation.
**
***********************************************************************/

body#documentation-admin-php pre {
	background-color: #f5f5f5;
}

body#documentation-admin-php em code {
	color: #E30000;
}

body#documentation-admin-php pre.fichierDeConfiguration {
	background-color: transparent;
}

/***********************************************************************
**
** Galeries.
**
***********************************************************************/

#galeriesAdminConfigGraphique img, #galeriesAdminConfigGraphiqueSimplifiee img {
	background: url('../../fichiers/ombre-vignette.png') no-repeat right bottom;
	padding: 5px 10px 10px 5px;
	border: none;
}

#galeriesAdminConfigGraphique p.bDtitre {
	margin-top: 0px;
}

#galeriesAdminConfigGraphique ul, #galeriesAdminConfigGraphiqueSimplifiee ul {
	list-style-type: none;
	margin-left: 0px;
}

#galeriesAdminConfigGraphique li.configGraphiqueListeVignettes, #galeriesAdminConfigGraphiqueSimplifiee li.configGraphiqueListeVignettes {
	margin-bottom: 20px;
	padding: 5px 5px 5px 20px;
	border: 1px solid #cccccc;
	background-color: #f0f0f0;
}

#galeriesAdminConfigGraphiqueSimplifiee li.configGraphiqueListeVignettes {
	float: left;
	margin-right: 10px;
}

#galeriesAdminConfigGraphique p.configGraphiqueSuppressionImage, #galeriesAdminConfigGraphique p.configGraphiqueSuppressionImage input, #galeriesAdminConfigGraphique p.configGraphiqueLienMaj {
	margin: 0px;
}

#galeriesAdminConfigGraphique p.configGraphiqueLienMaj {
	text-align: right;
}

body#galeries-admin-php div.galerieMinivignettes {
	width: 50%;
}

div.aide .bDtitre {
	font-size: 1em;
}

.galerieMinivignettes img {
	float: left;
	height: 35px;
	border: 1px solid #cccccc !important;
	margin: 2px;
}

.sep, .sepGalerieMinivignettes {
	clear: both;
}

/***********************************************************************
**
** Porte-documents.
**
***********************************************************************/

p#porteDocumentsLienHaut {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
}

#redimensionnable {
	width: 95%;
	height: 500px;
	border: 1px solid black;
	padding: 3px;
	background-color: white;
}

a.porteDocumentsFichier {
	text-decoration: none;
}

pre.consulterModifications {
	width: 95%;
	height: 500px;
}

.editeur {
	padding-bottom: 10px;
	overflow-y: scroll;
}

.porteDocumentsListe {
	padding-left: 0px;
}

.porteDocumentsListe, .porteDocumentsListe ul {
	list-style-type: none;
}

.porteDocumentsListe img {
	border: none;
	vertical-align: middle;
}

.porteDocumentsListe li.impair {
	background-color: #f5f5f5;
}

.porteDocumentsListeDernierNiveau li:hover {
	background-color: #ffab00;
}

.porteDocumentsListeContenuDossier {
	margin-bottom: 15px;
}

.porteDocumentsSep {
	font-weight: bold;
	color: #cccccc;
}

/* Infobulle. Inspirée de <http://www.alsacreations.com/astuce/lire/1-comment-contrler-et-modifier-lapparence-dune-infobullenbsp.html>. */

a.lienInfobulle {
	position: relative;
	text-decoration: none;
	color: black;
}

a.lienInfobulle span {
	display: none;
}

a.lienInfobulle:hover {
	z-index: 500;
}

a.lienInfobulle:hover span {
	display: block;
	width: 350px;
	position: absolute;
	top: 20px;
	left: 20px;
	border: 1px solid #cccccc;
	background: #f5f5f5;
	text-align: left;
	color: black;
	padding: 2px;
}

a.lienInfobulle img {
	border: none;
}

img.infobulleApercuImage {
	border: 1px solid #cccccc !important;
}

/* BUEditor. */

textarea.editor-textarea {
	height: 92%;
}

.imgGauche {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.imgCentre {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.imgDroite {
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
}

.video {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
