/***********************************************************************
**
** Général
**
***********************************************************************/

body, html {
	margin: 0;
	padding: 0;
}

#page {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
}

#ancres {
	position: absolute;
	left: -5000px;
}

#enTete {
	padding: 5px 5px 0 5px;
	background: url('../fichiers/rayures.png') repeat left top;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	text-align: center;
}

#enTete ul {
	padding-left: 0;
	margin-top: 0px;
	margin-bottom: 8px;
}

#enTete ul li {
	display: inline;
}

#contenu {
	margin: 5px;
}

h1, h2, h3, h4, h5, h6, a {
	color: #007070;
}

a:visited {
	color: #4C177D;
}

a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #f2f2f2;
}

p {
	margin-bottom: 8px;
}

#menu a.actif {
	font-weight: bold;
}

body#documentation-admin-php pre {
	background-color: #f2f2f2;
}

body#documentation-admin-php pre#fichierDeConfiguration {
	background-color: transparent;
}

code {
	color: #0000E2;
}

pre {
	display: block;
	overflow: auto;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #b3b3b3;
	white-space: pre-wrap; /* CSS 3 */ /* Merci à <http://labnol.blogspot.com/2006/10/html-css-trick-for-displaying-code.html> */
}

.erreur {
	color: #630000;
}

.droite {
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
}

.gauche {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

/***********************************************************************
**
** Porte-documents
**
***********************************************************************/

textarea.consulterModifications {
	width: 95%;
	height: 500px;
}

.porteDocumentsListeDossiers {
	margin-bottom: 15px;
}

.porteDocumentsSep {
	font-weight: bold;
}

.boite {
	margin: 25px 0px;
	border: 1px solid #b3b3b3;
	padding: 5px;
	background-color: #f2f2f2;
}

.sousBoite {
	margin: 25px;
	border: 1px dashed #b3b3b3;
	padding: 5px;
	background-color: #f7f7f7;
}

#boiteMessages {
	border: 1px dashed #b3b3b3;
}

#boiteMessages h2, .boite h2, .sousBoite h3 {
	margin-top: 0;
}

#boiteMessages h2 {
	background: url('../fichiers/ampoule.png') no-repeat left center;
	padding-left: 20px;
}

#boiteMessages h2, #boiteMessages h3, #boiteMessages h4, #boiteMessages h5, #boiteMessages h6 {
	color: black;
}

.editeur {
	padding-bottom: 10px;
	overflow-y: scroll;
}

#redimensionnable {
	width: 95%;
	height: 500px;
	border: 1px solid black;
	padding: 3px;
	background-color: white;
}

