/* Structuration */

#entete {
	border: 1px solid black;
	background-color: #f5f5f5;
	padding: 5px;
}

#entete ul li {
	display: inline;
}

#ancres {
	position: absolute;
	left: -5000px;
}

/* Général */

.succes {
	color: #006400;
}

.erreur {
	color: red;
}

/* Porte-documents */

.porteDocumentsListeDossiers {
	margin-bottom: 15px;
}

.porteDocumentsNom {
	font-family: monospace;
}

.porteDocumentsSep {
	font-weight: bold;
}

.boite {
	margin: 25px; border: 1px solid black; padding: 5px; background-color: #f5f5f5;
}

.boite2 {
	margin: 25px; border: 1px dashed black; padding: 5px; background-color: #f7f7f7;
}

#boiteMessages {
	border: 1px dashed black;
}

#boiteMessages h2, #boiteMessages h3, #boiteMessages h4, #boiteMessages h5, #boiteMessages h6 {
	color: black;
}

#redimensionnable {
	width: 95%;
	min-height: 300px;
}

textarea {
	width: 95%;
	height: 95%;
}

